<div class="container panelcentrador">
  <div class="row Paneltitulos">
    <div class="col s12 m10 l10 ">
      <h4>Unidad Educativa Experimental Venezuela</h4>
    </div>
  </div>
  <div class="row PaneltituloSec">
    <div class="col s12 m10 l10">
      <h5>Sistema de Gestión y Control Academico Adminsitrativo</h5>
    </div>
  </div>
  <div class="row panel1" style="align-items: center">
    <div class="col s12 m5 l5 center-align valign" style="margin: 0;
    padding: 0;
   ">
      <img src="assets/img/Escudo.png" class="responsive-img " style="
    padding: 2.5% 0px 0px 0px;
    margin: 0;" />
    </div>
    <div class="col s12 m7 l7 panelLogin">
      <h5 class="center-align">Inicio de Sesión</h5>
      <form class="center-align" method="post">
        <div class="row dosImputs" style="margin-left: auto;
    margin-right: auto;">
          <div class="input-field col s12">
            <input id="Usuario" type="text" class="validate">
            <label class="active" for="Usuario">Usuario</label>
          </div>
          <div class="input-field col s12">
            <input id="Clave" type="text" class="validate">
            <label for="Clave">Contraseña</label>
          </div>
        </div>
        <div class="row filaBoton">
          <input type="submit" class="btn misbotones waves-light waves-effect" value="Aceptar">
        </div>
        <div class="row">
          <input type="button" class="btn misbotones waves-effect waves-light" value="Recuperar Contraseña">
        </div>
      </form>
    </div>
  </div>
</div>
